<header>
    <aside class="sidebar cs-3 brand">
        <a class="navbar-brand"
           title="{{'core.application.title'|translate}} - {{appVm.appversion}}"
           href="/">
            <i class="fa {{'core.application.icon'|translate}}"></i>
            <span class="hidden-folded" translate="core.application.label"></span>
        </a>
    </aside>
    <aside class="content cs-3 "></aside>
</header>
<main ui-view="main">

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</main>