<header>
    <aside class="sidebar cs-3 brand">
        <a class="navbar-brand"
           title="{{'core.application.title'|translate}} - {{appVm.appversion}}"
           href="/">
            <i class="fa {{'core.application.icon'|translate}}"></i>
            <span class="hidden-folded" translate="core.application.label"></span>
        </a>
    </aside>
    <aside class="content cs-3 "></aside>
</header>
<main ui-view="main"></main>
<div class="global-alerts" ng-cloak>
    <div alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{alert.msg}}</div>
</div>